body {
    background-color: #ecf4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .clock {
    font-size: 48px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9d685;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px  rgba(0, 0, 0, 0.1);
  }