
  #panel {
    display: none;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
}

#box {
    width: 100px;
    height: 100px;
    background-color: rgb(13, 225, 91);
    position: relative;
   
}

.text {
    color: rgb(182, 36, 231);
    margin: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
.text:hover {
    background: yellow;
  }


  /* Стилі для згорнутого контенту */
         .content {
           display: none;
        }

  .content2 {
    display: block;
   
}